body {
  margin: 0;
  padding: 0;
  background-color: LightGrey;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.pagination li {
  margin: 0 10px;
}

.pagination li.active a {
  font-weight: bold;
  text-decoration: none;
  font-size: 120%;
}

.checkboxForm button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
}


.checkboxForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

.checkboxForm form {
  text-align: left;
}

.checkboxForm .button-container {
  text-align: center;
}


.checkboxForm select {
  font-size: 16px;
  border-radius: 5px;
}

input[type="checkbox"]:hover {
  outline: 2px solid grey;
}

input[type=checkbox]:checked ~ label {
  font-weight: bold;
}

.button-container a {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; 
}
.button-container a:hover {
  background-color: #3e8e41;
}