<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
    <link rel="stylesheet" media="screen" th:href="@{~/styles.css}" />
    <style>
        img {
            max-width: 100%;
            max-height: 100vh;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <!-- <h1>Image Viewer</h1> -->
    <div class="button-container">
        <a href="/search?goBack=true">&lt; Галерея</a>
    </div>
    <img th:src="@{'/image/' + ${image.imHash}}" th:alt="${image.imHash}" />

    <div class="button-container">
        <a th:if="${previous != null}" th:href="@{/imagePage/{imHash}(imHash=${previous.imHash})}" style="float: left;">
            &lt; Назад
        </a>

        <a th:if="${next != null}" th:href="@{/imagePage/{imHash}(imHash=${next.imHash})}" style="float: right;">
            Вперёд &gt;
        </a>
    </div>
    <br><br>
    <h2>Люди на фотографии:</h2>
    <ul>
        <li th:each="person : ${image.tags}">
            <a th:href="@{/processForm(tag=${person})}" th:text="${fullnames.get(person)}"></a>
        </li>
    </ul>
</body>

</html>