<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
    <link rel="stylesheet" media="screen" th:href="@{~/styles.css}" />
    
</head>

<body>
    <!-- <h1>Image Viewer</h1> -->
    <div class="button-container">
        <a href="/search?goBack=true">&lt; Галерея</a>
    </div>
    <img id="imgSingle" th:src="@{'/image/' + ${image.anyHash}}" th:alt="${image.anyHash}" />

    <div class="button-container">
        <a th:if="${previous != null}" th:href="@{/imagePage/{hash}(hash=${previous.anyHash})}" style="float: left;">
            &lt; Назад
        </a>

        <a th:if="${next != null}" th:href="@{/imagePage/{hash}(hash=${next.anyHash})}" style="float: right;">
            Вперёд &gt;
        </a>
    </div>
    <br><br>
    <h2>Люди на фотографии:</h2>
    <ul>
        <li th:each="tag : ${image.people}">
            <!-- <a th:href="@{/processForm(tag=${person})}" th:text="${fullnames.get(person)}"></a> -->
            <a th:href="@{/processForm(tag=${tag.birthdayOrFullName})}" th:text="${tag.fullName}"></a>
        </li>
    </ul>
    <h2>Комментарии:</h2>
    <ul class="messagesList">
        <li th:each="cmnt : ${image.comments}">
            <!-- <a th:href="@{/processForm(tag=${person})}" th:text="${fullnames.get(person)}"></a> -->
            <!-- <p th:text="${cmnt.text}"></p> -->
            <span th:utext="|<b>${cmnt.author.firstName}</b>: |"></span>
            <span id="date" th:text="${#temporals.format(cmnt.creationDate, 'yyyy-MM-dd HH:mm')}"></span>
            <span th:text="${cmnt.text}"></span>
        </li>
    </ul>
</body>

</html>