<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../../../resources/static/styles.css" rel="stylesheet" media="screen" th:href="@{styles.css}" />
    <link rel="stylesheet" media="screen" th:href="@{gallery.css}" />
</head>

<body>
    <header th:replace="fragments/header :: header" />
    <form th:action="@{/processForm}" method="get" class="checkboxForm">
        <div style="columns: 3; column-gap: 20px;">
            <div th:each="tag, iter : ${allDepictedPeople}">
                <input type="checkbox" name="tag" th:value="${tag.birthdayOrFullName}"
                    th:id="'checkbox-'+${iter.index}" />
                <label th:text="${tag.fullName}+' ('+${tag.imagesCount}+')'" th:for="'checkbox-'+${iter.index}"></label>
            </div>
        </div>
        <br />
        <select name="selectedYear">
            <option value="">Год</option>
            <option th:each="tag : ${selectableYears}" th:value="${tag.id}"
                th:text="${tag.name}+' ('+${tag.imagesCount}+')'"></option>
        </select>
        <div class="button-container">
            <button type="submit">Показать</button>
        </div>
    </form>
   
    <!-- <span th:each="tag : ${selectedTags}">
        <span th:text="${fullnames.get(tag)} + ','"></span>
    </span>
    <span th:if="${selectedYear != null}" th:text="${selectedYear.isPresent() ? selectedYear.get() : 'любой'} + ' год. Найдено '+${totalImages}+' фотографий.'"></span>
    <span th:text="'imagesCount='+${imagesCount}"></span> -->

    <div th:if="${true or images == null or images.size() == 0}">
        <form th:action="@{/findImagesByCypherQuery}" method="GET">
            <textarea name="cypherQuery" 
                placeholder="Enter your Cypher query" th:text="${cypherQuery}"
                rows="5" cols="50"
                required ></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <ul class="gallery">
        <li th:each="img, iter : ${images}" th:if="${iter.index >= (pageSize * (currentPage - 1)) and iter.index < (pageSize * currentPage)}">
            <a th:href="@{/imagePage/{img}(img=${img.anyHash})}">
                <div class="gallery-item">
                    <img th:src="@{/thumbnail/{img}(img=${img.anyHash})}"
                        th:title="${img.creationDate} +'&#10;'+ ${img.filePath}+'&#10;'+ ${iter.index}">
                </div>
            </a>
        </li>
    </ul>
    
    <br />

    <div th:if="${images != null AND images.size > pageSize}">

        <ul class="pagination">
            <li th:if="${currentPage > 1}">
                <a th:href="@{'/'(page=${currentPage - 1})}">&lt; Previous</a>
            </li>

            <li th:each="page : ${#numbers.sequence(1, T(java.lang.Math).ceil(images.size*1.0/pageSize))}" th:class="${page == currentPage} ? active : ''">
                <a th:href="@{'/'(page=${page})}" th:text="${page}"></a>
            </li>

            <li th:if="${currentPage <= images.size/pageSize}">
                <a th:href="@{'/'(page=${currentPage + 1})}">Next &gt;</a>
            </li>
        </ul>
    </div>

    <ul>
        <li th:text="'totalImages='+${images.size}"></li>
        <li th:text="'totalPages='+${totalPages}"></li>
        <li th:text="'currentPage='+${currentPage}"></li>
        <li th:text="'pageSize='+${pageSize}"></li>
        <li th:text="'number of pages='+${images.size*1.0/pageSize}"></li>
    </ul>
    
</body>

</html>