<html>

<head>
  <title>Table with Sortable Columns</title>
  <link href="../../../resources/static/styles.css" rel="stylesheet" media="screen" th:href="@{styles.css}" />
  <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
</head>

<body>
  <header th:replace="fragments/header :: header" />
  <label for="fSearch">Search</label>
  <input type="text" id="fSearch" name="fSearch">
  <div id="example-table"></div>

  <script>
    fetch('/persons/')
      .then(response => response.json())
      .then(tabledata => {
        function matchAny(data, filterParams) {
          //data - the data for the row being filtered
          //filterParams - params object passed to the filter
          //RegExp - modifier "i" - case insensitve

          var match = false;
          const regex = RegExp(filterParams.value, 'i');

          for (var key in data) {
            if (regex.test(data[key]) == true) {
              match = true;
            }
          }
          return match;
        }
        const input = document.getElementById("fSearch");
        input.addEventListener("keyup", function () {
          table.setFilter(matchAny, { value: input.value });
          if (input.value == " ") {
            table.clearFilter()
          }
        });

        var table = new Tabulator("#example-table", {
          data: tabledata,
          height: "90vh",
          layout: "fitColumns",
          autoColumns: true,

        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
</body>

</html>